<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139646970928-l627hgfmkpo7uf128md0vbae2g1qdju1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139646970928-l627hgfmkpo7uf128md0vbae2g1qdju1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBB7PEv1mAKnkInh6XwbjpFvj4jTXIUmg</string>
	<key>GCM_SENDER_ID</key>
	<string>139646970928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vc.baseservice</string>
	<key>PROJECT_ID</key>
	<string>vc-base-service</string>
	<key>STORAGE_BUCKET</key>
	<string>vc-base-service.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139646970928:ios:8ed965a4576160a721d1f5</string>
</dict>
</plist>